.button {
  color: #000000;
  background: #ffffff;
  border: 0.8px solid #000000;
  font-size: 16px;
  padding: 8px 13px;
  font-weight: normal;
  margin: 5px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px;
}

.button.selected {
  color: #ffffff;
  background: #000000;
}